.App {
  text-align: center;
  background-color: black;
  overflow: hidden;
  }
.header-app{
  padding: 15px;
}
.container{
  padding: 35px;
}
.tail{
  background-color: rgb(32, 32, 32);
  padding: 20px;
}
.texter{
  font-size: 40px;
 }
 .card-img:hover{
  scale: calc(1.1);
 }
 .card-img{
  transition: all ease 0.3s;
 }
 .product-card{
  overflow: hidden;
 }
 

  
  

